@model IEnumerable<CINEMARK.peliculasTable>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<center>
    <h2>Index</h2>

    @using (Html.BeginForm("Index", "PeliculaAction", FormMethod.Get))
    {
        <span>Escriba nombre de la pelicula: </span><input type="text" name="search" placeholder="nombre pelicula" />
        <input type="submit" value="Search" name="submit" />
    }
</center>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sinopsis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sinopsis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
